*:visited {
  color: inherit;
}
*:link {
  text-decoration: none;
}

button {
  transition: 0.4s;
}

button:hover {
  opacity: 0.7;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 120px;
  align-items: center;
  padding-left: 80px;
}

header img {
  height: 50px;
}

.headerBtn {
  border: none;
  background-color: #09b0ba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
}

.disconnectBtn {
  border: none;
  background-color: #c2175b;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
}

header input {
  border: none;
  outline: none;
  padding: 10px;
  width: 250px;
  padding-right: 250px;
  border: 1px solid hsl(195, 11%, 93%);
  border-radius: 5px;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.filters > div {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.sortPrice {
  display: flex;
  align-items: center;
  width: 150px;
}

.sortPrice button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: none;
  background-color: #09b0ba;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* subheader */
.subheader1 {
  background: url("./subheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.subheader2 {
  width: 1080px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.bloc {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bloc span {
  font-size: 25px;
}

.bloc button {
  border: none;
  background-color: #09b0ba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
}

/* Home */

main {
  margin: 0 auto;
  max-width: 1080px;
}

.home img {
  height: 250px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.home img:hover {
  opacity: 0.8;
}

.home ul li {
  text-align: center;
  display: flex;
  width: 150px;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #eaedee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
}

.home ul li:hover {
  text-decoration: underline;
}

.home ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  height: 40px;
}

.avatar img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

/* Offer */

.offer {
  padding-top: 50px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.offer img {
  height: 600px;
  width: 400px;
  object-position: center;
  object-fit: cover;
}

.product {
  background-color: white;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product button {
  border: none;
  background-color: #09b0ba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.product h3 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 25px;
}

.product ul {
  display: flex;
  flex-direction: column;
}

.desc li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.owner {
  margin-top: 65px;
  padding-top: 65px;
  border-top: 1px solid gainsboro;
}

.owner ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.owner p {
  padding-bottom: 10px;
}

.owner img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/* Slider.css */

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;
}
.slider > div {
  width: 70%;
}

.input-range__slider {
  background: #09b0ba !important;
  border: 1px solid white !important;
}

.input-range__track--active {
  background: #09b0ba !important;
}

.input-range__label--value .input-range__label-container {
  background: #09b0ba;
  color: white;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 2px;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  display: none;
}

/* Publish */

.publish {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.publish form {
  width: 100%;
}

.publish ul {
  display: flex;
  flex-direction: column;
}
.publish li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #eaedee;
}
.publish input {
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eaedee;
}

.publish textarea {
  resize: none;
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eaedee;
}
.publish input:focus,
.publish textarea:focus {
  border-bottom: 1px solid #09b0ba;
}
.publish textarea,
.publish input {
  width: 400px;
}

@media screen and (max-width: 1144px) {
  #lastBtnHeader {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    overflow: hidden;
  }
  header {
    padding-left: 0;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-bottom: 20px;
  }

  .offer {
    flex-direction: column;
    align-items: center;
  }
  .offer img {
    margin-bottom: 25px;
  }
}
